/// @since 1.0 新版本模板颜色
/// @author rongfengliang
$font-size : 50px;
/// @author rongfengliang
$body-color:white;
$select-color: rgba(122, 157, 192, 0.467);
/// @author rongfengliang
/// @todo add layout to webpage
body{
    font-size: $font-size;
    background-color: $body-color;
}
::selection{
    background-color: $select-color;
    text-shadow: none;
}
