/// @since 1.0 新版本模板颜色
/// @author rongfengliang
$font-size : 50px;
/// @author rongfengliang
$body-color:red;
$select-color: rgba(122, 157, 192, 0.467);

/// Mixin to size an element
/// @access public 
/// @param {Number} $width width
/// @param {Number} $height height
/// @example @include demo(10px,40px)
@mixin demo($width,$height){
    width: $width;
    height: $height;
}
body{
    font-size: $font-size;
    background-color: $body-color;
    border: {
        top:1px dashed blue;
        right: 2px dotted rgba(122, 157, 192, 0.467);
        left: 1px solid ;
    }
    @include demo(100px,300px);
}
::selection{
    background-color: $select-color;
    text-shadow: none;
}
